<section class="user" role="region" aria-labelledby="user-name-heading">
  <h1 id="user-name-heading"><%= @user.name %></h1>
  <h2 id="user-email-heading" role="heading" aria-level="2"><%= mail_to(@user.email) %></h2>
  <h3 id="member-since-heading" role="heading" aria-level="3">Member Since</h3>
  <p>
  <%= @user.created_at.strftime("%B %Y") %>
  </p>
   <div class="actions">
    <%= link_to "Edit Account", edit_user_path(@user),
                  class: "button edit" %>
    <%= link_to "Delete Account", @user, class: "button delete",
                data: { turbo_method: :delete, turbo_confirm: "Permanently delete your account?!" } %>
  </div>
</section>
