<h1 id="reviews-heading">Reviews for <%= link_to @movie.title, @movie, role: "link" %></h1>

<ul class="reviews" role="list" aria-labelledby="reviews-heading">
  <% @reviews.each do |review| %>
    <li role="listitem">
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= review.name %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
    </li>
  <% end %>
</ul>